* {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  text-decoration-skip-ink: none;
  list-style: none;
}
a:visited  {
  text-decoration: none;
  border: 1px red solid;
}
body {
  max-width: 375px;
  background-color: black;
  align-items: center;
}

header {
  display: flex;
  height: 113px;
  padding-top: 20px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
}
header img{
  width: 100%;
height: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  box-shadow: inset;
}

.logo img {
  width: 197px;
  height: auto;
}

.location {
  line-height: 18.75px;
  padding-top: 20px;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 1rem;
  background: #eaeaea;
  text-align: center;
  box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
  -moz-box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
}

.location i {
  padding-right: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
  -moz-box-shadow: 0px 5px 4px 0px rgba(133, 126, 126, 0.23) inset;
  background: #f6f6f6;
}

h1 {
  padding-top: 35px;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.explore h2 {
  padding-top: 35px;
  width: 80%;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.explore a {
  color: white;
  margin: 35px;
  width: 218px;
  padding: 20px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  text-align: center;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease 0s;
  box-shadow: 0px 3px 5px 0px #838383;
}

.explore a:hover {
  opacity: 0.8;
}

.fonctionnement {

  background: #ffffff;
  padding-bottom: 70px;
}

.fonctionnement h2 {
  padding-top: 35px;
  padding-left: 28px;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

.fb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 35px;
  width: 100%;
  margin: auto;
  
  
}

#fb-container {
  width: 90%;
  max-width: 322px;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#fb-container h3 {
  height: 24px;
  width: 24px;
  position: relative;
  right: 12px;
  top: 12px;
  background: #9356dc;
  border-radius: 25px;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
  padding: 5px;
}

#fb-container a {
  position: relative;
  bottom: 8px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-align: center;
}

#fb-container i {
  position: relative;
  bottom: 8px;
  right: 30px;
}

#fb-container i:hover {
  color: #9356dc;
}
.restaurants {
  background: #f6f6f6;
  height: 100%;
}
.restaurants h2 {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
#restaurants {

  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
}

.vignette {
  width: 90%;
  width: 346px;
  height: 100%;
  cursor: pointer;
}
.vignette img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}
.vignette-btn {
  display: grid;
  grid-template-areas:
    "h4 coeur"
    "h5 h5";
  background: white;
  border-radius: 0 0 25px 25px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.vignette h4 {
  grid-area: h4;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 15px 30px 10px 0;
  background: white;
}
.coeur {
  margin: 15px 20px 0;
  grid-area: coeur;
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2c-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z'/%3E%3C/svg%3E");
  background-color: black;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.coeur:active {
  transition: 0.4s ease-in;
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.vignette h5 {
  grid-area: h5;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.nouveau {
  position: absolute;
}
h6 {
  color: #008766;
  position: relative;
  left: 230px;
  top: 15px;
  width: 80px;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  background: #99e2d0;
  border-radius: 3px;
  z-index: 1;
  margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
  background: #353535;
  width: 100%;
  height: 30vh;
}
.footer-logo {
  padding: 20px;
}
.footer-logo svg {
  color: white;
}
.footer-liens {
  color: #eaeaea;
}
.footer-liens i {
  padding-right: 10px;
}



@media screen and (min-width: 450px) {
  body {
    max-width: 1400px;
  }
  .fb {
    flex-direction: row;
    justify-content: start;
    padding-left: 120px;
  }
  .fonctionnement h2 {
display: block;
padding-left: 120px;
  }
  #fb-container {
    width: 335px;
  }
  .location {
    width: 100%;
  }
  .restaurants{
    padding-left: 120px;
   max-width: 1400px;
  }
  #restaurants{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
    gap:50px 100px ;
  }
  .restaurants h2 {
    text-align: left;
    padding: 35px 0;
  }
  .vignette{
    width: 490px;
  }
  .coeur{
    position: relative;
    left: 100px;
    top: 15px;
  }
  h6 { 
    color: #008766;
    position: relative;
    left: 385px;
    top: 15px;
}
  footer{
    position: absolute;
    max-width: 1280px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;

  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer li{

    margin: 30px 10px;
  }
  .footer-logo{
    position: relative;
    left: 1000px;
  }
}
